<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.sict.lc">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_myicon"
        android:label="音乐播放器"
        android:roundIcon="@drawable/ic_myicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrainingWeek_MusicPlayer">
        <activity
            android:name=".musicplayer.MusicListActivity"
            android:exported="false" />
        <activity
            android:name=".musicplayer.MyFragment"
            android:exported="false" />
        <activity
            android:name=".musicplayer.FirstScreen"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".musicplayer.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".musicplayer.RegisterActivity"
            android:exported="true"
            android:label="新用户注册"
            android:launchMode="singleTask"
            android:parentActivityName=".musicplayer.LoginActivity" />
        <activity
            android:name=".musicplayer.MainActivity"
            android:exported="false"
            android:launchMode="singleTask" />
    </application>

</manifest>